body {
    overflow: hidden;
}

.grid-cont {
    width: auto;
    padding: 193px 0 0 373px;
}

.row-horizon {
    overflow: hidden;
}

.popular-news {
    margin: 0;
    padding: 0;
    position: relative;
}

.popular-news .items a {
    background-color: #aaaaaa;
    width: 407px;
    height: 229px;
    margin: 0 40px 40px 0;
}

main {
    transform: scale(1.0);
    transition: transform .5s ease;
}

main.zoom {
    transform: scale(2.874692875);
    transition: transform .5s ease;
}



/* hide */

header,
footer,
.hot-news,
.popular-news .tabs,
#scroll-top,
#video-player,
.fa-chevron-right {
    display: none;
}
