html
{
    width:100%; height:100%;
    position:relative;
}

body
{
    overflow: hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,808080+50,3a3a3a+100 */
    background: #000000; /* Old browsers */
    background: fixed -moz-linear-gradient(-45deg, #000000 0%, #808080 50%, #3a3a3a 100%); /* FF3.6-15 */
    background: fixed -webkit-linear-gradient(-45deg, #000000 0%,#808080 50%,#3a3a3a 100%); /* Chrome10-25,Safari5.1-6 */
    background: fixed linear-gradient(135deg, #000000 0%,#808080 50%,#3a3a3a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width:100%;
    height:100%;
    font-family: 'Ubuntu', sans-serif;
    font-size:12;
}

.page {
    background: transparent;
 }

.grid-cont {
    width: auto;
    padding: 193px 0 0 373px;
}

.row-horizon {
    overflow: hidden;
}

.popular-news {
    margin: 0;
    padding: 0;
    position: relative;
}

.popular-news .items a {
    background-color: transparent;
    width: 447px;
    height: 269px;
}

main .zoomer {
    position: absolute;
    transform: scale(1.0);
    transition: transform .5s ease;
}

main.zoom .zoomer {
    transition: transform .5s ease;
}

main.zoom.withOrigin .zoomer
{
    transition: all .5s ease;
}

main .categories-container {
    position:absolute;
    left:0; width:100%; top:0;
    padding: 193px 0 0 70px;
    transition: margin .5s ease;
}

main .categories-container .category {
    color:white;
    height:269px;
    transition: height .5s ease;
    position:relative;
}

main .categories-container .category span.title {
   display:block; position:absolute; left:0; top:0;
   margin:20px 0 0 0;
   font-family: 'Allerta Stencil', sans-serif;
   font-size:40px;
}

main .categories-container .category span.border {
   display:block; position:absolute; width:100%; height:8px;
   left:0; top:0;
   background: linear-gradient(to right, rgba(255,0,0,1) 0%,rgba(255,0,0,0) 100%); 
}

main .categories-container .category.doku span.border {
   background: linear-gradient(to right, rgba(90,160,44,1) 0%,rgba(90,160,44,0) 100%); 
}

main .categories-container .category.comedy span.border {
   background: linear-gradient(to right, rgba(255,102,0,1) 0%,rgba(255,102,0,0) 100%); 
}

main .categories-container .category.movie span.border {
   background: linear-gradient(to right, rgba(200,55,55,1) 0%,rgba(200,55,55,0) 100%); 
}

main .categories-container .category.info span.border {
   background: linear-gradient(to right, rgba(44,90,160,1) 0%,rgba(44,90,160,0) 100%); 
}

main .categories-container .category.series span.border {
   background: linear-gradient(to right, rgba(151,88,183,1) 0%,rgba(151,88,183,0) 100%); 
}

main .categories-container .category.other span.border {
   background: linear-gradient(to right, rgba(170,170,170,1) 0%,rgba(170,170,170,0) 100%); 
}




main.zoom .categories-container .category {
    height:773px;
    transition: height .5s ease;
}


/* hover */
.popular-news .items .pic {
    position: absolute;
    top: 0;
    right:auto;
    bottom: auto;
    left: 0;
    width:407px;
    height:229px;
    transition:opacity .3s ease;
}

.broadcasterLogo {
    position: absolute;
    width: 65px;
    left: 15px;
    top: 15px;
    transition:opacity .3s ease;
}

.popular-news:first-child .items a:first-child .pic,
.popular-news:first-child .items a:first-child .broadcasterLogo {
	opacity:1;
}

.popular-news:first-child .items a:nth-child(2) .pic,
.popular-news:first-child .items a:nth-child(2) .broadcasterLogo {
	opacity:0.8;
}

.popular-news:first-child .items a:nth-child(3) .pic,
.popular-news:first-child .items a:nth-child(3) .broadcasterLogo {
	opacity:0.6;
}

.popular-news:nth-Child(2) .items a:first-child .pic,
.popular-news:nth-Child(2) .items a:first-child .broadcasterLogo {
	opacity:0.8;
}

.popular-news:nth-Child(2) .items a:nth-child(2) .pic,
.popular-news:nth-Child(2) .items a:nth-child(2) .broadcasterLogo {
	opacity:0.6;
}

.popular-news:nth-Child(3) .items a:first-child .pic,
.popular-news:nth-Child(3) .items a:first-child .broadcasterLogo {
	opacity:0.6;
}

.popular-news .items a .pic,
.popular-news .items a .broadcasterLogo {
	opacity:0.4;
}

.popular-news .items a:hover .pic {
	opacity:1 !important;
	-webkit-filter: none;
}

.popular-news .items a:hover .broadcasterLogo {
	opacity:1 !important;
}

main.zoom .popular-news .items a .pic {
	opacity:1;
}

main.zoom .popular-news .items a .broadcasterLogo {
	opacity:1;
}

.popular-news .items a span {
	opacity:0; display:block; position:absolute;
	left:0; top:0; right:40px; bottom:40px;
	padding:40px 40px 40px 270px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,1+53,1+74,1+100 */
	background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,1) 53%, rgba(0,0,0,1) 74%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,1) 53%,rgba(0,0,0,1) 74%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,1) 53%,rgba(0,0,0,1) 74%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	transition:opacity .3s ease;
	overflow-x:hidden; overflow-y:hidden; }

.popular-news .items a span p,
.popular-news .items a span small {
	display:block;
	width:400px;
	white-space:normal !important;
	text-overflow: ellipsis;
	overflow-y:hidden;
}

.popular-news .items a span p {
	margin-bottom:10px;
	max-height:68px;
}

.popular-news .items a span small {
	margin-bottom:10px;
	max-height:87px;
}


main .popular-news .items { transition:margin .3s ease; }
main .popular-news .items:hover { margin-left:-305px }
main.zoom .popular-news .items:hover { margin-left:0px; transition:margin .2s ease; }

main .popular-news .items a { transition:width .3s ease }
main .popular-news .items a:hover { width:752px; color:white; }
main.zoom .popular-news .items a:hover { width:447px; transition:width .2s ease  }

main .popular-news .items a:hover span { opacity:1 }
main.zoom .popular-news .items a:hover span { opacity:0 }


/* Logo */

#floating-logo {
    position:fixed;
    right:20px;
    bottom:20px;
}

/* hide */
header,
footer,
.hot-news,
.popular-news .tabs,
#scroll-top,
.fa-chevron-right {
    display: none;
}


.video-container {
    position: absolute;
    left:0; top:0; right:0; bottom:0;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    bottom: 50px;
    left:5%;
    width:90%;
    height: 15%;
    background-color: black;
    opacity: .60;
    -moz-opacity: 0.60;
    filter:alpha(opacity=60);

    visibility: visible;
    transition: opacity 0.7s linear;
}

.video-overlay.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.7s, opacity 0.7s linear;
}


.video-overlay-text {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 12%;
    color: white;
}

.video-overlay-text h1 {
    font-size: 200%;
}

.video-overlay-text h2 {
    font-size: 100%;
}


.video-overlay-x {
    position: absolute;
    top: 25px;
    right:50px;
    width:50px;
    height: 50px;
    background-color: black;
    opacity: .60;
    -moz-opacity: 0.60;
    filter:alpha(opacity=60);
    visibility: visible;
    transition: opacity 0.7s linear;
}

.video-overlay-text-x {
    position: absolute;
    left: 15px;
    top: 7px;
    width: 90%;
    height: 12%;
    color: white;
    font-size: 200%;
}

/* title */
h1.mainTitle {
    position:absolute;
    left:70px;
    top:60px;
    color:white;
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: normal;
    font-size:50px;
    opacity:1;
    transition: opacity 0.5s ease;
}

h1.mainTitle small {
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: normal;
    font-size:40px;
}

main.zoom h1.mainTitle {
    opacity:0;
}


.stars_div{
    display: none;
    background-color: black;
    opacity: .60;

    position: absolute;
    width: 25%;
    height: 25%;
    top: 30%;
    left: 50px;

    padding-left: 3%;
    padding-top: 3%;

    font-size: 60%;
}

.star{
    float: left;
    margin-top: 3%;
    width: 25%;
    height: 40%;
    background-image: url("/static/img/star_non_selected.png");
    background-size: 100%;
}

.star:hover{
    margin-top: 3%;
    width: 25%;
    height: 40%;
    background-image: url("/static/img/star_selected.png");
    background-size: 100%;
}
