<!doctype html>
<html lang="en" ng-app="AngularFlask">
<!-- <head>
	<meta charset="utf-8">
	<title>AngularFlask</title>

	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/main.css">

	<script src="/static/lib/angular/angular.js"></script>
	<script src="/static/lib/angular/angular-resource.js"></script>

	<script src="/static/js/app.js"></script>
	<script src="/static/js/controllers.js"></script>
 	<script src="/static/js/services.js"></script>

	<script src="/static/lib/jquery/jquery.min.js"></script>
	<script src="/static/lib/bootstrap/bootstrap.min.js"></script>
</head> -->
<head>
		<title>örtube</title>

		<!-- metas -->
		<meta charset="utf-8">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<!--/ metas -->

		<!-- styles -->
		<link href='https://fonts.googleapis.com/css?family=Allerta+Stencil|Ubuntu:300' rel='stylesheet' type='text/css'>		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="stylesheet" href="/static/css/bootstrap-horizon.css">
        <link rel="stylesheet" href="/static/css/style.css">

		<!--/ styles -->
		<script src="/static/lib/angular/angular.js"></script>
		<script src="/static/lib/angular/angular-resource.js"></script>

		<script src="/static/js/app.js"></script>
		<script src="/static/js/controllers.js"></script>
	 	<script src="/static/js/services.js"></script>

</style></head>
<!-- <body>
	<div id="header" class="header navbar navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				</button>
				<a class="brand" href="/">My player</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li class="">
							<a href="/">Home</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container page">
		<div id="content" class="container main" ng-view>
		</div>

		<hr>
		<footer id="footer" class="footer">
			<div class="footer-left">
				<a href="/about">About</a> |
				<a href="/">Home</a>
			</div>
			<div class="footer-right">
				<span>&copy; 2013 AngularFlask</span>
			</div>
		</footer>
	</div>
</body> -->
<body cz-shortcut-listen="true">
		<!-- page -->
		<div class="page">

			<!-- page header -->
			<header class="page-header">

				<!-- page header top -->
				<div class="page-header-top">

					<div class="grid-cont">
						<div class="grid-row">
							<div class="grid-col grid-col-2">
								<!-- slogan -->
								<a href="index.php" class="slogan"><span>örtube</span></a>
								<!--/ slogan -->
							</div>

							<div class="grid-col grid-col-10">
								<!-- secondary nav -->
								<nav class="secondary-nav">
									<ul>
										<li>
											<a href="index.php" class="active">home</a>
										</li>
										<li>
											<a href="blog-list.php">blog</a>
										</li>
										<li>
											<a href="contacts.php">contacts</a>
										</li>
									</ul>
								</nav>
								<!--/ secondary nav -->
							</div>
						</div>
					</div>

				</div>
				<!-- page header top -->

				<!-- page header middle -->
				<div class="page-header-middle fixed">

					<div class="grid-cont">
						<div class="grid-row">
							<div class="grid-col grid-col-2">
								<!-- logo -->
								<a href="index.php" class="logo"><img src="/static/img/logo.png" width="68" height="61" alt=""></a>
								<!--/ logo -->
							</div>

							<div class="grid-col grid-col-7">
								<!-- main nav -->
								<nav id="main-nav" class="main-nav">
									<a href="#" class="switcher"><i class="fa fa-bars"></i></a>
									<ul>
										<li class="has-dropdown">
											<a href="#">world</a>
											<div class="dropdown dropdown-large">
												<div class="grid-row">
													<div class="grid-col grid-col-3">
														<ul class="subnav">
															<li class="icon"><i class="fa fa-globe"></i></li>
															<li><a href="#">Asia</a></li>
															<li><a href="#">America</a></li>
															<li><a href="#">Africa</a></li>
															<li><a href="#">Europe</a></li>
															<li><a href="#">Latin America</a></li>
														</ul>
													</div>
													<div class="grid-col grid-col-9">
														<div class="latest">
															<p>
																<a href="#" class="fa fa-chevron-right next"></a>
																<a href="#" class="fa fa-chevron-left prev"></a>
																Latest posts in category
															</p>
															<div class="carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
																<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2940px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 245px;"><div class="item">
																	<a href="#" style="background-image: url(pic/main-nav/item-1.jpg)">
																		<h4>Lorem ipsum dolor sit amet seco laopir</h4>
																		<div><i class="fa fa-comment"></i>124 Comments</div>
																	</a>
																</div></div><div class="owl-item" style="width: 245px;"><div class="item">
																	<a href="#" style="background-image: url(pic/main-nav/item-2.jpg)">
																		<h4>Lorem ipsum dolor sit amet seco laopir</h4>
																		<div><i class="fa fa-comment"></i>124 Comments</div>
																	</a>
																</div></div><div class="owl-item" style="width: 245px;"><div class="item">
																	<a href="#" style="background-image: url(pic/main-nav/item-1.jpg)">
																		<h4>Lorem ipsum dolor sit amet seco laopir</h4>
																		<div><i class="fa fa-comment"></i>124 Comments</div>
																	</a>
																</div></div><div class="owl-item" style="width: 245px;"><div class="item">
																	<a href="#" style="background-image: url(pic/main-nav/item-2.jpg)">
																		<h4>Lorem ipsum dolor sit amet seco laopir</h4>
																		<div><i class="fa fa-comment"></i>124 Comments</div>
																	</a>
																</div></div><div class="owl-item" style="width: 245px;"><div class="item">
																	<a href="#" style="background-image: url(pic/main-nav/item-1.jpg)">
																		<h4>Lorem ipsum dolor sit amet seco laopir</h4>
																		<div><i class="fa fa-comment"></i>124 Comments</div>
																	</a>
																</div></div><div class="owl-item" style="width: 245px;"><div class="item">
																	<a href="#" style="background-image: url(pic/main-nav/item-2.jpg)">
																		<h4>Lorem ipsum dolor sit amet seco laopir</h4>
																		<div><i class="fa fa-comment"></i>124 Comments</div>
																	</a>
																</div></div></div></div>





															<div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="has-dropdown has-dropdown-alt">
											<a href="#">business</a>
											<div class="dropdown dropdown-xlarge">
												<div class="latest latest-alt">
													<div class="item">
														<a href="#" style="background-image: url(pic/main-nav/item-3.jpg)">
															<h4>Lorem ipsum dolor sit amet seco laopir</h4>
															<div><i class="fa fa-comment"></i>124 Comments</div>
														</a>
													</div><!--
													--><div class="item">
														<a href="#" style="background-image: url(pic/main-nav/item-4.jpg)">
															<h4>Lorem ipsum dolor sit amet seco laopir</h4>
															<div><i class="fa fa-comment"></i>124 Comments</div>
														</a>
													</div><!--
													--><div class="item">
														<a href="#" style="background-image: url(pic/main-nav/item-3.jpg)">
															<h4>Lorem ipsum dolor sit amet seco laopir</h4>
															<div><i class="fa fa-comment"></i>124 Comments</div>
														</a>
													</div><!--
													--><div class="item">
														<a href="#" style="background-image: url(pic/main-nav/item-4.jpg)">
															<h4>Lorem ipsum dolor sit amet seco laopir</h4>
															<div><i class="fa fa-comment"></i>124 Comments</div>
														</a>
													</div>
												</div>
											</div>
										</li>
										<li class="has-dropdown">
											<a href="#">pages</a>
											<div class="dropdown">
												<ul class="subnav">
													<li><a href="index.php">Magazine layout</a></li>
													<li><a href="index-alt.php">Classic Blog layout</a></li>
													<li><a href="blog-author.php">Author page</a></li>
													<li><a href="page-404.php">404 page</a></li>
													<li><a href="contacts.php">Contacts</a></li>
													<li class="has-dropdown">
														<a href="#"><i class="fa fa-chevron-right"></i>Dropdown</a>
														<div class="dropdown dropdown-left">
															<ul class="subnav">
																<li><a href="#">Item 1</a></li>
																<li><a href="#">Item 2</a></li>
																<li><a href="#">Item 3</a></li>
															</ul>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li class="has-dropdown">
											<a href="#">blog</a>
											<div class="dropdown">
												<ul class="subnav">
													<li><a href="blog-list.php">List (1 col)</a></li>
													<li><a href="blog-grid-2.php">Grid (2 cols)</a></li>
													<li><a href="blog-grid-3.php">Grid (3 cols)</a></li>
													<li><a href="blog-grid-4.php">Grid (4 cols)</a></li>
													<li><a href="blog-author.php">Author page</a></li>
												</ul>
											</div>
										</li>
										<li class="has-dropdown">
											<a href="#">posts</a>
											<div class="dropdown">
												<ul class="subnav">
													<li><a href="blog-post.php">Regular</a></li>
													<li><a href="blog-post-audio.php">Audio</a></li>
													<li><a href="blog-post-gallery.php">Gallery</a></li>
													<li><a href="blog-post-vimeo.php">Video (vimeo)</a></li>
													<li><a href="blog-post-youtube.php">Video (youtube)</a></li>
												</ul>
											</div>
										</li>
									</ul>
								</nav>
								<!--/ main nav -->
							</div>

							<div class="grid-col grid-col-3">
								<!-- search -->
								<form action="#" class="search">
									<input type="text" placeholder="search">
									<button type="submit" class="fa fa-search"></button>
								</form>
								<!--/ search -->
							</div>
						</div>
					</div>

				</div>
				<div></div>
				<!-- page header middle -->


			</header>
			<!--/ page header -->
			<!-- page content -->
			<main class="page-content">
				<div id="video-container" class="col-md-12 video-container" onmousemove="onVideoMouseMove()">
					<video class="videoPlayer" width="100%" height="100%" controls autoplay>
						<source src="" type="video/mp4" />
						Your browser does not support the video tag.
					</video>

					<div class="video-overlay-x">
						<div class="video-overlay-text-x">
								✕
						</div>
					</div>
					<div class="video-overlay">
						<div class="video-overlay-text">
								<h1 class="video-overlay-h1"></h1>
								<h2 class="video-overlay-h2"></h2>
						</div>
					</div>
    			</div>

				<div class="categories-container">
					<div class="category">
						<span class="title">Doku</span><span class="border" />
					</div>
					<div class="category">
						<span class="title">Unterhaltung</span><span class="border" />
					</div>
					<div class="category">
						<span class="title">Spielfilm</span><span class="border" />
					</div>
					<div class="category">
						<span class="title">Info</span><span class="border" />
					</div>
					<div class="category">
						<span class="title">Serie</span><span class="border" />
					</div>
					<div class="category">
						<span class="title">Mal was anderes</span><span class="border" />
					</div>
				</div>

				<div class="zoomer">
					<div class="grid-cont">
						<!-- hot news -->
						<div class="hot-news">
							<div class="grid-row">
								<div class="grid-col grid-col-12">
									<a href="http://ondemand-ww.wdr.de/medstdp/fsk0/92/928447/928447_10198794.mp4">
										<span class="pic" style="background-image: url('http://static-cdn.arte.tv/papi/tvguide/images/1542133/W940H530/061654-000-A_resistencekeime_01-1452209993613.jpg'); background-position: center top"></span>
										<h5>Doku</h5>
										<h2>Resistente Keime</h2>
										<i class="fa fa-share fa-flip-vertical"></i>
									</a>
								</div>

								<div class="grid-col grid-col-6">
									<a href="http://rodl.zdf.de/none/zdf/15/12/151228_stralsund_anschlag_ps_fdw_1456k_p13v12.mp4" class="large">
										<span class="pic" style="background-image: url('http://www.zdf.de/ZDFmediathek/contentblob/2615462/timg476x268blob/12597355'); background-position: center top"></span>
										<h5>SpielFilm</h5>
										<h2>Stralsund - Der Anschlag</h2>
										<i class="fa fa-share fa-flip-vertical"></i>
									</a>
								</div>

								<div class="grid-col grid-col-6">
									<a href="http://mvideos.daserste.de/videoportal/Film/c_600000/603443/format698119.mp4" class="small">
										<span class="pic" style="background-image: url('http://www.ardmediathek.de/ard/servlet/image/00/33/50/40/36/2121327408/16x9/512'); background-position:center top"></span>
										<h5>Info</h5>
										<h3>Wissen vor acht</h3>
										<i class="fa fa-share fa-flip-vertical"></i>
									</a>
								</div>

								<div class="grid-col grid-col-3">
									<a href="http://media.ndr.de/progressive/2016/0218/TV-20160218-2259-3342.hq.mp4" class="small">
										<span class="pic" style="background-image: url('http://www.ardmediathek.de/ard/servlet/image/00/33/51/24/46/2121327408/16x9/960')"></span>
										<h5>Comedy</h5>
										<h4>Oje, Angela!</h4>
										<small><i class="fa fa-share fa-flip-vertical"></i></small>
									</a>
								</div>

								<div class="grid-col grid-col-3">
									<a href="http://cdn-storage.br.de/b7/2016-02/20/a7441620d76a11e58a90984be10adece_X.mp4" class="small">
										<span class="pic" style="background-image: url('http://www.ardmediathek.de/ard/servlet/image/00/33/55/38/84/-1774185891/16x9/512')"></span>
										<h5>Musik</h5>
										<h4>PULS Festival</h4>
										<small><i class="fa fa-share fa-flip-vertical"></i></small>
									</a>
								</div>
							</div>
						</div>
						<!--/ hot news -->

						<!-- popuplar docu -->
						<div id="popular-1" class="popular-news" ng-controller="indexController">
							<div id="popuplar-news-1" class="items items-visible row row-horizon" >
								<a href="{{docu.fileLocations[0].url}}" ng-repeat="docu in docuHighlights">
									<div class="pic" style="background-image: url({{docu.image}})"></div>
									<span>
										<p>{{docu.name}}</p>
										<small>{{docu.description}}</small>
									</span>
								</a>

							</div>
						</div>
						<!--/ popuplar docu -->

						<!-- popuplar comedy -->
						<div id="popular-2" class="popular-news" ng-controller="indexController">
							<div id="popuplar-news-1" class="items items-visible row row-horizon" >
								<a href="{{comedy.fileLocations[0].url}}" ng-repeat="comedy in comedyHighlights">
									<div class="pic" style="background-image: url({{comedy.image}})"></div>
									<span>
										<p>{{comedy.name}}</p>
										<small>{{comedy.description}}</small>
									</span>
								</a>

							</div>
						</div>
						<!--/ popuplar comedy -->


						<!-- popuplar movie -->
						<div id="popular-3" class="popular-news" ng-controller="indexController">
							<div id="popuplar-news-1" class="items items-visible row row-horizon" >
								<a href="{{movie.fileLocations[0].url}}" ng-repeat="movie in movieHighlights">
									<div class="pic" style="background-image: url({{movie.image}})"></div>
									<span>
										<p>{{movie.name}}</p>
										<small>{{movie.description}}</small>
									</span>
								</a>

							</div>
						</div>
						<!--/ popuplar movie -->

						<!-- popuplar info -->
						<div id="popular-4" class="popular-news" ng-controller="indexController">
							<div id="popuplar-news-1" class="items items-visible row row-horizon" >
								<a href="{{info.fileLocations[0].url}}" ng-repeat="info in infoHighlights">
									<div class="pic" style="background-image: url({{info.image}})"></div>
									<span>
										<p>{{info.name}}</p>
										<small>{{info.description}}</small>
									</span>
								</a>
							</div>
						</div>
						<!--/ popuplar info -->

						<!-- popuplar series -->
						<div id="popular-5" class="popular-news" ng-controller="indexController">
							<div id="popuplar-news-1" class="items items-visible row row-horizon" >
								<a href="{{series.fileLocations[0].url}}" ng-repeat="series in seriesHighlights">
									<div class="pic" style="background-image: url({{series.image}})"></div>
									<span>
										<p>{{series.name}}</p>
										<small>{{series.description}}</small>
									</span>
								</a>

							</div>
						</div>
						<!--/ popuplar series -->


				</div>
			</main>
			<!--/ page content -->

			<div id="floating-logo">
				<img src="/static/img/corner_logo.png" width="247" height="141" alt="örtube" />
			</div>

			<!-- page footer -->
			<footer class="page-footer">

			</footer>
			<!--/ page footer -->

			<button type="button" id="scroll-top" class="scroll-top fa fa-chevron-up visible"></button>
		</div>
		<!--/ page -->

		<!-- scripts -->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="/static/js/script.js"></script>
		<!--/ scripts -->

</body>
</html>
