<!doctype html>
<html lang="en" ng-app="AngularFlask">
<!-- <head>
	<meta charset="utf-8">
	<title>AngularFlask</title>

	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/main.css">

	<script src="/static/lib/angular/angular.js"></script>
	<script src="/static/lib/angular/angular-resource.js"></script>

	<script src="/static/js/app.js"></script>
	<script src="/static/js/controllers.js"></script>
 	<script src="/static/js/services.js"></script>

	<script src="/static/lib/jquery/jquery.min.js"></script>
	<script src="/static/lib/bootstrap/bootstrap.min.js"></script>
</head> -->
<head>
		<title>ÖRtube</title>

		<!-- metas -->
		<meta charset="utf-8">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<!--/ metas -->

		<!-- styles -->
		<link href='https://fonts.googleapis.com/css?family=Allerta+Stencil|Ubuntu:300' rel='stylesheet' type='text/css'>		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="stylesheet" href="/static/css/bootstrap-horizon.css">
        <link rel="stylesheet" href="/static/css/style.css">

		<!--/ styles -->
		<script src="/static/lib/angular/angular.js"></script>
		<script src="/static/lib/angular/angular-resource.js"></script>

		<script src="/static/js/app.js"></script>
		<script src="/static/js/controllers.js"></script>
	 	<script src="/static/js/services.js"></script>

</style></head>
<body cz-shortcut-listen="true">
		<!-- page -->
		<div class="page">

			<!-- page content -->
			<main class="page-content">
				<h1 class="mainTitle">Guten Abend, Lisa! <small>Was möchtest du heute schauen?</small></h1>

				<div class="close_zoom_x" class="col-md-12">
					<a class="zoom_x_char" onclick="onZoomXClick()">✕</a>
				</div>

				<div id="video-container" class="col-md-12 video-container" onmousemove="onVideoMouseMove()">
					<video onclick="onVideoClick()" class="videoPlayer" width="100%" height="100%" controls autoplay>
						<source src="" type="video/mp4" />
						Your browser does not support the video tag.
					</video>

					<div class="video-overlay-x">
						<div class="video-overlay-text-x">
								<a onclick="onXClick()">✕</a>
						</div>
					</div>
					<div class="video-overlay">
						<div class="video-overlay-text">
								<h1 class="video-overlay-h1"></h1>
								<h2 class="video-overlay-h2"></h2>
						</div>
					</div>
    			</div>

				<div class="categories-container">
					<div class="category doku">
						<span class="title">Doku</span><span class="border" />
					</div>
					<div class="category comedy">
						<span class="title">Unterhaltung</span><span class="border" />
					</div>
					<div class="category movie">
						<span class="title">Spielfilm</span><span class="border" />
					</div>
					<div class="category info">
						<span class="title">Info</span><span class="border" />
					</div>
					<div class="category series">
						<span class="title">Serie</span><span class="border" />
					</div>
					<div class="category other">
						<span class="title">Mal was anderes</span><span class="border" />
					</div>
				</div>

				<div class="zoomer">
					<div class="grid-cont">

						<!-- popuplar docu -->
						<div id="popular-1" class="popular-news" ng-controller="indexController">
							<div id="popuplar-news-1" class="items items-visible row row-horizon" >
								<a href="{{docu.fileLocations[0].url}}" ng-repeat="docu in docuHighlights">
									<div class="pic" style="background-image: url({{docu.image}})"></div>
									<span>
										<p>{{docu.name}}</p>
										<small>{{docu.description}}</small>
									</span>
									<img class="broadcasterLogo" src={{docu.broadcasterLogo}}>
									<div class="stars_div">
										rate or wait!<br />
										<p style="font-size:40%">Wie hat dir das Video gefallen?</p>
										<div class="star deathstar" onmouseover="mouseOverStar1()" onclick="mouseClick1()"></div>
										<div class="star moonstar" onmouseover="mouseOverStar2()" onclick="mouseClick2()"></div>
										<div class="star daystar" onmouseover="mouseOverStar3()" onclick="mouseClick3()"></div>
									</div>
									<span id="entityIdSpan" style="display:none">{{docu.entityId}}</span>
								</a>
							</div>
						</div>
						<!--/ popuplar docu -->

						<!-- popuplar comedy -->
						<div id="popular-2" class="popular-news" ng-controller="indexController">
							<div id="popuplar-news-1" class="items items-visible row row-horizon" >
								<a href="{{comedy.fileLocations[0].url}}" ng-repeat="comedy in comedyHighlights">
									<div class="pic" style="background-image: url({{comedy.image}})"></div>
									<span>
										<p>{{comedy.name}}</p>
										<small>{{comedy.description}}</small>
									</span>
									<img class="broadcasterLogo" src={{comedy.broadcasterLogo}}>
									<div class="stars_div">
										rate or wait!<br />
										<p style="font-size:40%">Wie hat dir das Video gefallen?</p>
										<div class="star deathstar" onmouseover="mouseOverStar1()" onclick="mouseClick1()"></div>
										<div class="star moonstar" onmouseover="mouseOverStar2()" onclick="mouseClick2()"></div>
										<div class="star daystar" onmouseover="mouseOverStar3()" onclick="mouseClick3()"></div>
									</div>
									<span id="entityIdSpan" style="display:none">{{comedy.entityId}}</span>
								</a>
							</div>
						</div>
						<!--/ popuplar comedy -->


						<!-- popuplar movie -->
						<div id="popular-3" class="popular-news" ng-controller="indexController">
							<div id="popuplar-news-1" class="items items-visible row row-horizon" >
								<a href="{{movie.fileLocations[0].url}}" ng-repeat="movie in movieHighlights">
									<div class="pic" style="background-image: url({{movie.image}})"></div>
									<span>
										<p>{{movie.name}}</p>
										<small>{{movie.description}}</small>
									</span>
									<img class="broadcasterLogo" src={{movie.broadcasterLogo}}>
									<div class="stars_div">
										rate or wait!<br />
										<p style="font-size:40%">Wie hat dir das Video gefallen?</p>
										<div class="star deathstar" onmouseover="mouseOverStar1()" onclick="mouseClick1()"></div>
										<div class="star moonstar" onmouseover="mouseOverStar2()" onclick="mouseClick2()"></div>
										<div class="star daystar" onmouseover="mouseOverStar3()" onclick="mouseClick3()"></div>
									</div>
									<span id="entityIdSpan" style="display:none">{{movie.entityId}}</span>
								</a>
							</div>
						</div>
						<!--/ popuplar movie -->

						<!-- popuplar info -->
						<div id="popular-4" class="popular-news" ng-controller="indexController">
							<div id="popuplar-news-1" class="items items-visible row row-horizon" >
								<a href="{{info.fileLocations[0].url}}" ng-repeat="info in infoHighlights">
									<div class="pic" style="background-image: url({{info.image}})"></div>
									<span>
										<p>{{info.name}}</p>
										<small>{{info.description}}</small>
									</span>
									<img class="broadcasterLogo" src={{info.broadcasterLogo}}>
									<div class="stars_div">
										rate or wait!<br />
										<p style="font-size:40%">Wie hat dir das Video gefallen?</p>
										<div class="star deathstar" onmouseover="mouseOverStar1()" onclick="mouseClick1()"></div>
										<div class="star moonstar" onmouseover="mouseOverStar2()" onclick="mouseClick2()"></div>
										<div class="star daystar" onmouseover="mouseOverStar3()" onclick="mouseClick3()"></div>
									</div>
									<span id="entityIdSpan" style="display:none">{{info.entityId}}</span>
								</a>
							</div>
						</div>
						<!--/ popuplar info -->

						<!-- popuplar series -->
						<div id="popular-5" class="popular-news" ng-controller="indexController">
							<div id="popuplar-news-1" class="items items-visible row row-horizon" >
								<a href="{{series.fileLocations[0].url}}" ng-repeat="series in seriesHighlights">
									<div class="pic" style="background-image: url({{series.image}})"></div>
									<span>
										<p>{{series.name}}</p>
										<small>{{series.description}}</small>
									</span>
									<img class="broadcasterLogo" src={{series.broadcasterLogo}}>
									<div class="stars_div">
										rate or wait!<br />
										<p style="font-size:40%">Wie hat dir das Video gefallen?</p>
										<div class="star deathstar" onmouseover="mouseOverStar1()" onclick="mouseClick1()"></div>
										<div class="star moonstar" onmouseover="mouseOverStar2()" onclick="mouseClick2()"></div>
										<div class="star daystar" onmouseover="mouseOverStar3()" onclick="mouseClick3()"></div>
									</div>
									<span id="entityIdSpan" style="display:none">{{series.entityId}}</span>
								</a>
							</div>
						</div>
						<!--/ popuplar series -->

				</div>
			</main>
			<!--/ page content -->

			<div id="floating-logo">
				<img src="/static/img/corner_logo.png" width="247" height="141" alt="örtube" />
			</div>

			<!-- page footer -->
			<footer class="page-footer">

			</footer>
			<!--/ page footer -->

			<button type="button" id="scroll-top" class="scroll-top fa fa-chevron-up visible"></button>
		</div>
		<!--/ page -->

		<!-- scripts -->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="/static/js/script.js"></script>
		<!--/ scripts -->

</body>
</html>
